/*Section 6: Optagelsesbrev, start*/

/*Section 6.1: Optagelse, start*/
#konvolutLoginSkærm {
  width: 100vw;
  height: auto;
  max-height: 100vh;
  position: absolute;
  top: 0;
  left: 0;

  opacity: 1;
  transition-duration: 0.5s;
}

.konvolutLoginSkærmImg {
  position: absolute;
  display: block;
  width: 120%;
  height: auto;
  top: 65vh;
  left: 10%;
  @include transformRotate(rotate(-25deg));
}

.startDinRejseWrapper {
  position: absolute;
  top: 65vh;
  left: 5vw;
  width: 50%;
  display: none;

  img {
    max-width: 45px;
    height: auto;
    float: right;
    margin-top: -25px;
  }

  :first-child {
    display: block;
    float: none;
    margin-bottom: 5px;
  }

  span {
    color: black;
    float: left;
    font-size: $semiBigText;
    font-weight: bold;
  }
}
/*Section 6.1: Optagelse, end*/

/*Section 6.2: Konvolut, start*/
#envelopeOprettelse {
  position: fixed;
  margin: 50px auto 0;
  width: 150px;
  height: 90px;
  bottom: 5vh;
  right: 10vw;
  background: #c94548;
  border-radius: 0 0 5px 5px;
  box-shadow: 0 0 1px #c94548 inset;

  transition-duration: 0.5s;
}

#envelopeOprettelse::before {
  content: "";
  position: absolute;
  width: 0;
  height: 0;
  border: 0 solid transparent;
  border-width: 45px 76px;
  transition-duration: inherit;

  border-bottom-color: #c94548;
  top: -100%;
  left: 0px;
}

#envelopeOprettelse::after {
  content: "";
  position: absolute;
  width: 0;
  height: 0;
  border: 0 solid transparent;
  border-width: 45px 76px;
  transition-duration: inherit;

  border-right-color: #ed4c50;
  border-left-color: #fa565a;
  border-bottom-color: #fa565a;
  top: 0;
  border-radius: 0 0 5px 5px;
  @include transformRotate(rotate(360deg));
  @include boxShadowOpacity(0 1px 1px rgba(0, 0, 0, 0.25));
}

.paper {
  width: 100%;
  height: 86px;
  margin: 0 auto;
  border-radius: 5px;
  position: absolute;
  top: -33px;
  @include boxShadowOpacity(0 1px 1px rgba(0, 0, 0, 0.25));
  background-image: $loginPaperBg;
  background-repeat: no-repeat;
  background-position: center;
  background-blend-mode: darken;
  background-size: cover;

  transition-duration: inherit;

  .jumper {
    display: flex;
    justify-content: center;
    color: black;
    font-size: 20px;
    font-family: $fontSurabanglus;
  }
}

/*Envelope animation*/
.openEnvelope {
  animation: openEnvelope;
  animation-duration: 3s;
  animation-fill-mode: forwards;
}

.openEnvelopePaper {
  height: 96px;
  animation: paperUnfold;
  animation-duration: 2s;
  animation-fill-mode: forwards;
  animation-delay: 1s;
}

#initialPaperContent {
  font-size: 18px;
  font-family: $fontCaslon;
  padding: 10px 15px;
  text-align: center;

  transition-duration: 0.5s;
}

/* when you first click the envelope,
first size up and go to center, then go down past the screen */
@keyframes openEnvelope {
  0% {
    bottom: 5vh;
    right: 10vw;
  }
  20% {
    bottom: 5vh;
    right: 32vw;
  }

  100% {
    bottom: -30vh;
    right: 32vw;
  }
}

@keyframes paperUnfold {
  0% {
    width: 90%;
    height: 96px;
    left: 6px;
    top: -33px;
  }
  100% {
    width: 110vw;
    height: 70vh;
    left: -34vw;
    top: -70vh;
  }
}
/*Section 6.2: Konvolut, end*/

/*Section 6.3: Optagelsespapir, start*/

#paperContent {
  opacity: 0;
  display: none;
  width: 100%;
  height: 60%;
  min-height: 60%;
  max-height: 60%;
  overflow: hidden;
  padding: 20px 20px 20px 40px;

  transition-duration: 0.3s;

  h2 {
    color: $black;
    font-family: $fontSurabanglus;
    font-size: 1em;
    text-align: center;
  }

  p {
    width: 100%;
    color: $black;
    font-family: "verdana", serif;
    font-size: 1em;
  }

  .slick-next,
  .slick-prev {
    position: absolute;
    top: 80%;
  }

  .slick-dots {
    display: flex;
    justify-content: center;
    list-style-type: none;

    button {
      display: block;
      width: 1rem;
      height: 1rem;
      padding: 0;

      border: none;
      border-radius: 100%;
      background-color: blue;

      text-indent: -999999px;
    }

    li.slick-active button {
      background-color: red;
    }
  }
}

.paperPage {
  display: none;
  position: absolute;
  top: 0;
  height: auto;

  transition-duration: 0.3s;
}

#paperNextArrow,
#paperBackArrow {
  z-index: 100;
  width: 10%;
  height: auto;

  position: fixed;
  bottom: 5vh;

  transition-delay: 0.2s;
  transition-duration: 0.3s;
}

#paperNextArrow {
  right: 15vw;
}
#paperBackArrow {
  left: 15vw;
  transform: scale(-1, 1);
}

#paperOverlayOprettelse {
  position: fixed;
  right: -50vw;
  width: 40%;
  height: 50px;
  bottom: 20vh;

  transition-delay: 0.2s;
  transition-duration: 0.6s;

  img {
    @include transformRotate(rotate(90deg));
    position: absolute;
    top: 0;
  }

  p {
    position: absolute;
    top: 150%;
    left: 40px;
    width: 100%;
    height: 100%;
  }
}

/*Section 6.3: Optagelsespapir, end*/

/* 6.4 image scroller start */

#paperImageScroller {
  margin-top: 5vh;
  width: 100vw;
  height: 40vh;
  text-align: center;
  left: 100vw;

  transition-duration: 1s;

  background-color: $goldColor;
  padding: 1vh 0 1vh 0;

  .imageScrollerContainer {
    display: block;
    width: 100vw;
    height: 37vh;
  }

  img {
    height: 100%;
    width: 100%;
    object-fit: cover;
  }
}

#lastSlidePaper {
  width: 200px;
  height: 150px;
  max-width: 400px;
  position: absolute;
  right: -55vw;
  top: 57vh;

  transition-duration: 1s;

  img {
    height: 100%;
    width: 100%;
    object-fit: contain;
    transform: rotate(90deg);
  }

  p {
    position: absolute;
    font-family: $fontSurabanglus;
    top: 35%;
    left: 25%;
    font-size: 1.3em;
  }
}

/* 6.4 image scroller end */

/*Section 6: Optagelsebrev, end*/

/*Section 11: Oprettelsesformular, start*/
#createUserFormWrapper {
  width: 100vw;
  position: absolute;
  top: 5%;
  left: 0;
  transition: 1.5s;
  font-family: Surabanglus, serif;
  font-size: 15pt;
  padding-top: 10%;
  height: 65vh;
}

#createUserForm input,
select {
  font-family: Surabanglus, serif;
  font-size: 12pt;
  border-radius: 8px;
  border: solid 1px #232323;
  padding-left: 5px;
}

.elementContainer {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  width: 80vw;
  margin: auto;

  .elementChildLabel {
    max-width: 45%;
    min-width: 45%;
    padding: 5px;

    .elementChild {
      position: absolute;
      width: 50%;
      height: auto;
    }

    .elementChild + img {
      width: 90%;
      height: auto;
      max-width: 110%;
      max-height: 50vw;
      object-fit: contain;
      transition-duration: 0.5s;
    }

    [type="radio"] {
      opacity: 0;
    }

    [type="radio"]:checked + img {
      order: 1;
      width: 110%;
    }
  }
}

.small-input {
  width: 80px;
}

.large-input {
  width: 160px;
}

select {
  padding-bottom: 10px;
  font-size: 12pt;
}

.small-select {
  width: 87px;
}

.large-select {
  width: 167px;
}

#createUserForm input:last-child {
  border: none;
}

.formSection {
  height: 55vh;
  display: block;
  text-align: center;
  padding-bottom: 50px;
}

.formSection h3 {
  margin-bottom: 5%;
  color: #232323;
}

.slickWrapper {
  width: 100%;
  height: 100%;

  background-image: url("../img/registerPaper.png");
  background-position: center;
  background-size: 115% 110%;
  background-repeat: repeat-x;

  padding-top: 50px;
}

// #firstFormSection {
//   left: 6vw;
// }

// #secondFormSection {
//   left: 106vw;
//   // .radiobtn {
//   //   background-image: url("../img/registerPaper.png");
//   //   background-position: center;
//   //   background-size: 120% 100%;
//   //   background-repeat: repeat-x;

//   // }
// }

// #thirdFormSection {
//   left: 206vw;
// }

#btnWrapper {
  z-index: $regLayer;
  position: absolute;
  bottom: 15%;
  width: 100vw;
  text-align: center;
}

.btnslide {
  display: inline;
}

.btnslide:first-child {
  margin-right: 25%;
}

#slide-prev {
  background-image: url("../img/arrows/arrowgoldLeft.png");
  background-size: 100% 100%;
  display: inline-block;
  height: 30px;
  width: 50px;
  opacity: 0.4;
  transition: 1s;
}

#slide-next {
  background-image: url("../img/arrows/arrowgoldRight.png");
  background-size: 100% 100%;
  display: inline-block;
  height: 30px;
  width: 50px;
  opacity: 1;
  transition: 1s;
}

#submit,
#submitChanges {
  background-image: url("../img/registerPaper.png");
  background-size: 100% 100%;
  background-color: transparent;
  color: inherit;
  border: none;
  height: 100px;
  width: 150px;
  opacity: 1;
  display: block;
  position: absolute;
  right: -250px;
  top: 60vh;
  z-index: $overTopLayer;
  transition-duration: 1s;
}

input[type="file"] {
  display: none;
}
.custom-file-upload {
  display: block;
  padding: 6px 12px;
  margin-top: -35px;
  z-index: $regLayerTop;
}

.formPortraitWrapper {
  width: 50vw;
  max-width: 500px;
  height: 50vw;
  border-radius: 100%;
  background-color: black;
  border: 2px black solid;
  overflow: hidden;
  left: 22%;
  z-index: $regLayerBottom;
  margin: auto;

  img {
    height: 100%;
    width: 100%;
    object-fit: cover;
  }
}

.fa-camera {
  font-size: 50px;
  color: #d1b751;
  width: 87px;
  height: 60px;
  padding-top: 10px;
  border-radius: 8px;
  background-color: #8e4b55;
}

.oprettelseArrow {
  position: absolute;
  top: 105% !important;
  max-width: 20%;
  transition-duration: 0.5s;
}
/*Section 11: Oprettelsesformular, end*/
